
<h1>Sistema DocSave!</h1>
<p>Hola Sr(a)  @Model.NombreCompleto, se le da aviso de su cambio de contraseña.</p>
<p><strong>Usuario:</strong> @Model.NombreUsuario</p>
<p><strong>Contraseña:</strong> @Model.Contraseña</p>
<p>Nota!! Se recomienda cambiar su contraseña al iniciar sesión en el apartado de <strong>Configuracion de Perfil</strong>.</p>
