@model Aplicacion.EntidadesDto.RolDto

@{
    var TituloFormulario = (ViewBag.Origen == 2) ?  "Nuevo Rol" : "Editar Información";
    var TituloBtn = (ViewBag.Origen == 2) ?  "Guardar Rol" : "Actualizar Rol";

}

<link href="~/assets/Select_Bootstrap/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/assets/Select_Bootstrap/bootstrap-select.min.js"></script>
<script src="~/assets/Select_Bootstrap/defaults-es_ES.min.js"></script>

<script src="~/assets/inputmask/dist/min/inputmask/jquery.inputmask.min.js"></script>
<script src="~/assets/inputmask/dist/inputmask/bindings/inputmask.binding.js"></script>

<div class="modal fade" id="modal-rolFormulario" data-backdrop="static" style="display:none">
    <div class="modal-dialog animated fadeIn">

        <div class="widget-box ui-sortable-handle">

            <div class="widget-header widget-header-small text-center">

                <h5 class="widget-title smaller bolder text-dark">
                    <i class="ace-icon fa fa-edit"></i>
                    @TituloFormulario
                </h5>

                <div class="widget-toolbar">
                    <a href="#" data-action="close" data-dismiss="modal" aria-label="Close" title="Cerrar Modal">
                        <i class="ace-icon fa fa-times bigger-125"></i>
                    </a>

                </div>
            </div>
            <form id="formControlUsuario" asp-controller="Seguridad" asp-action="GuardarRol"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-begin="onBegin"
                  data-ajax-complete="onComplete"
                  data-ajax-success="onSuccessEdit"
                  data-ajax-failure="onFailEdit">
                <div class="widget-body">
                    <div class="widget-main">

                        <div id="content-rol" class="modal-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Nombre del Rol:</label>
                                            <div id="contentNombre" class="form-group">
                                                <label id="lblSuccessNombre" style="display:none; font-size:small" class="control-label" for="NombreProducto"><i class="fa fa-check"></i> Formato Correcto!</label>
                                                <label id="lblErrorNombre" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                                <input type="hidden" asp-for="IdRol" class="form-control" readonly="readonly">
                                                <input type="text" asp-for="Nombre" class="form-control" maxlength="200" placeholder="Escriba el nombre del Usuario">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Descripción del Rol:</label>
                                            <div id="contentApellido" class="form-group">
                                                <label id="lblSuccessDescripcion" style="display:none; font-size:small" class="control-label" for="NombreProducto"><i class="fa fa-check"></i> Formato Correcto!</label>
                                                <label id="lblErrorDescripcion" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                                <textarea asp-for="Descripcion" class="form-control" placeholder="Escriba la descripción del Rol"></textarea>
                                            </div>
                                        </div>
                                    </div>                                  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button class="btn btn-block btn-primary btn-sm redondeo shadow" onclick="return validacionFormulario()">
                                <i class="fa fa-save"></i> @TituloBtn
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>

   
    function onBegin() {
        IniciarLoad('#content-rol');
    };
    function onComplete() {
        // Escondemos el Ajax Loader
        CerrarLoad('#content-rol');
    };

    function onSuccessEdit(response) {
        SuccessGuardarJq(response, HideModalRol);
        ShowRoles();
    }
    function onFailEdit(response) {
        FailMensaje(response.responseJSON);
    }
    function HideModalRol() {
        $('#modal-rolFormulario').modal("hide");
    }

    function validacionFormulario() {
        //DECLARAMOS LAS VARIABLES
        debugger;
        var nombre, tituloNombre;

        nombre = $('#Nombre').val();

        //VALIDACIONES
        if (!(/[A-Za-z]{1,200}/.test(nombre))) {
            $("#lblErrorNombre").show();
            $("#contentNombre").addClass("has-error animated shake");
            $('#Nombres').focus();
            tituloNombre = "Debe ingresar un Nombre";
            $('#Nombres').tooltip({ title: tituloNombre, placement: "bottom" });
            $('#Nombres').tooltip('show');
            return false;
        }
        else if (/[A-Za-z]{1,200}/.test(nombre)) {
            $("#lblErrorNombre").hide();
            $("#contentNombre").removeClass("has-error animated shake");
            $('#Nombres').tooltip('destroy');
        }

        return true;

    }
</script>
