
@{
    ViewData["Title"] = "AccesoDenegado";
    Layout = null;
    var estaLogueado = User.Identity.IsAuthenticated;
}
<link href="~/dist/css/AccesoDenegado/style.css" rel="stylesheet" />
<style>
    a:hover {
        background: #fff !important;
        color: #008648 !important;
        -webkit-box-shadow: 0px 4px 15px -5px #07832c !important;
        box-shadow: 0px 4px 15px -5px #07832c !important;
        transition: 0.5s ease !important;
        -webkit-transition: 0.5s ease !important;
        -o-transition: 0.5s ease !important;
    }
</style>



<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <br /><br />
        <h2>403 - Acceso Denegado!</h2>
        <p>Usted no posee el permiso para acceder a este formulario, favor coumicarse con el administrador del sistema.</p>
        @if (estaLogueado)
        {
            <a class="boton" href=@Url.Action("Index","Home")>Regresar al Inicio</a>
        }
        else
        {
            <a class="boton" href=@Url.Action("Index","Account")>Ingresar Sesión</a>
        }

    </div>
</div>


